body {
  background-color: #dfe3ee;
}

#banner {
  background-color: #3b5998;
  padding: 40px 40px;
}

#title {
  font-size: 40px;
  font-weight: bold;
  font-family: Segoe UI;
  color: #ffffff;
  position: absolute;
  left: 180px;
  top: 15px;
}

#email {
  font-size: 15px;
  position: absolute;
  left: 700px;
  top: 25px;
}

#phone {
  font-size: 12px;
  position: relative;
  bottom: 53px;
  left: 700px;
}

#pass {
  font-size: 15px;
  position: absolute;
  left: 900px;
  top: 25px;
}

#encrypt {
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 900px;
}

.btn-primary {
  position: absolute;
  left: 1100px;
  top: 27px;
  font-weight: bold;
  border: 10px;
  border-color: black;
}

#forgot {
  font-size: 12px;
  position: relative;
  left: 900px;
  bottom: 25px;
}

#singup {
  position: relative;
  left: 860px;
  bottom: 90px;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

p5 {
  position: relative;
  top: 30px;
  right: 177px;
  font-size: 20px;
  font-weight: lighter;
}

p {
  position: relative;
  top: 50px;
  left: 180px;
  font-weight: bold;
  font-size: 25px;
}

p2 {
  position: relative;
  top: 75px;
  left: 180px;
  font-size: 15px;
}

p3 {
  position: relative;
  top: 150px;
  right: 181px;
  font-size: 15px;
}

p4 {
  position: relative;
  top: 225px;
  right: 511px;
  font-size: 15px;
}

#fname {
  position: relative;
  top: 80px;
  right: 430px;
  font-size: 20px;
   border: 1px solid #bdc7d8;
}

#lname {
  position: relative;
  top: 80px;
  right: 450px;
  font-size: 20px;
   border: 1px solid #bdc7d8;
}

#mobile {
  position: relative;
  top: 127px;
  right: 984px;
  font-size: 20px;
   border: 1px solid #bdc7d8;
}

#pword {
  position: relative;
  top: 115px;
  font-size: 20px;
   border: 1px solid #bdc7d8;
}

::placeholder {
  color: #dfe3ee;
}

#birthDay {
  position: absolute;
  left: 860px;
  bottom: 225px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

#date {
  font-size: 15px;
}

#gender {
  position: absolute;
  left: 860px;
  bottom: 175px;
  font-size: 20px;
}

p6 {
  position: absolute;
  left: 860px;
  bottom: 135px;
  font-size: 10px;
}

#singUpButton {
  position: relative;
  left: 860px;
  top: 175px;
  padding: 7px 20px;
  text-align: center;
  -webkit-border-radius: 5px;
  background: -webkit-linear-gradient(#67ae55, #578843);
  -webkit-box-shadow: inset 0 1px 1px #a4e388;
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  width: 200px;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}
